{# templates/base.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap-4.4.1-dist/css/bootstrap.css') }}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Tesserakt</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cours">Cours</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/exercices">Exercices</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Profil</a>
            </li>

        </ul>
    </div>
</nav>
    <div class="page">
        <div class="row">
            <div class="content" style="width: 100%">
                <center>
                    <h1> Les cours disponibles</h1>
                </center>

                <div class="liste_de_cours">
                    {% if listeCours is not defined or listeCours is empty   %}
                        <p> Vous n'avez pas de cours diponible pour le moment ! </p>
                    {% else %}
                        <ul class="list-group">
                            {% for cours in listeCours %}
                            <li onclick="window.location.href ='/cours/'+{{ cours.id }};" class="list-group-item" style="color: darkgray">
                                <div class="row">
                                    <div class="col-8">
                                        {{ cours.title }}
                                    </div>
                                    <div class="col-4">
                                        <img class="fit-picture" src="{{ asset('assets/web/' ~ cours.picturePath) }}">
                                    </div>

                                </div>
                            </li> {#TODO : add picture in row, col#}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

</body>
</html>