{# templates/base.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap-4.4.1-dist/css/bootstrap.css') }}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Tesserakt</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cours">Cours</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/exercices">Exercices</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Profil</a>
            </li>

        </ul>
    </div>
</nav>
<div class="page">
    <div class="row">
        <div class="content" style="width: 100%">
            <center>
                <h1> Les exercices disponibles</h1>
            </center>

            <div class="liste_de_exercices">
                {% if listeExercices is not defined or listeExercices is empty   %}
                    <p> Vous n'avez pas d'exercice diponible pour le moment ! </p>
                {% else %}
                    <ul class="list-group">
                        {% for exercice in listeExercices %}
                            <li onclick="window.location.href ='/exercice/'+{{ exercice.id }};" class="list-group-item" style="color: darkgray">
                                <div class="row">
                                    <div class="col-8">
                                        {{ exercice.title }}
                                    </div>
                                    <div class="col-4">
                                        <img class="fit-picture" src="{{ asset('assets/web/' ~ exercice.imagePath) }}">
                                    </div>

                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

        </div>
    </div>
</div>

</body>
</html>